/* Remove margens e paddings padrão do navegador e define a fonte do site */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Define espaçamento para todas as secções */
section {
    padding: 30px 80px;
}

/* Mantem o cabeçalho fixo no topo da página, mesmo ao scrolar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Estilo do menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: #0a2c66;
}

/* Define o tamanho e formato do logótipo */
.logo img { 
    width: 50px; 
    height: auto; 
    border-radius: 25%; 
}

/* Organiza o menu */
.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo dos links do menu */
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

/* Cor do link ao passar o rato */
.menu ul li a:hover {
    color: #ffc107;
}

/* Destaca a página ativa em que o utilizador se encontra */
.menu ul li a.ativo {
    color: #ffc107;
}

/* Cria uma linha por baixo dos links do menu */
.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

/* Faz a linha aparecer ao passar o rato */
.menu ul li a:hover::after {
    width: 100%;
}

/* Estilo do botão de login no menu */
.navbar .btn-login {
    background-color: #ffc107;
    color: #0a2c66;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
}

/* Efeito hover do botão de login */
.navbar .btn-login:hover {
    color: #0a2c66;
}

/* Botão para voltar ao topo da página */
#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Estilo para os títulos h2 */
h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}