.grid-container {
    font-family: Arial, Helvetica, sans-serif;
}

.logoGeipe {
    width: 120px;
    height: 120px;
    border-radius: 25%;
}

.menu ul li a.ativo {
    color: #ffc107;
}

.logo img {
    width: 70px;
    height: auto;
}

.header {
    grid-area: header;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    background-color: #0a2c66;
}


/* Menu de navegação */
.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}

.menu ul li a:hover {
    color: #ffc107;
    transform: scale(1.1);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu ul li a:hover::after {
    width: 100%;
}


/* Banner principal */
.banner {
    grid-area: banner;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55vh;
    padding: 40px 80px;
    color: lightgray;
    background-image:
        linear-gradient(rgba(10,44,102,0.85), rgba(10,44,102,0.85)),
        url("../resources/images/banner-geipe2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner {
    max-width: 600px;
}

.main-banner h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.main-banner p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.banner-buttons {
    display: flex;
    gap: 20px;
}

.button-estagio {
    background-color: #ffc107;
    color: #0a2c66;
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.button-estagio:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.button-oportunidade {
    background-color: #e6e6e6;
    color: #0a2c66;
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.button-oportunidade:hover {
    background-color: #d4d4d4;
    transform: scale(1.05);
}


body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.banner {
    margin-top: 80px;
}

section {
    padding: 30px 80px;
}

h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

.missao-visao {
    display: flex;
    gap: 30px;
}


/* box*/
.box {
    flex: 1;
    background-color: #F7F7F7;
    padding: 20px;
    border-left: 7px solid 	#FFD700;
    border-radius: 6px;
}

.box h3 {
    margin-bottom: 10px;
    color: #0a2c66;
    font-size: 20px;
}

.box p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #0a2c66;
}

.box {
    transition: transform 0.4s ease;
}

.box:hover {
    transform: scale(1.03);
}

.publico ul {
    list-style: none;
    padding: 0;
}

.publico li {
    padding: 10px 0;
    border-bottom: 1px solid #0a2c66;
}


/*cards da area de atuacao*/
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 250px;
    background-color: #0a2c66;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.card:hover {
    background-color: #ffc107;
    color: #0a2c66;
    font-weight: bold;
}

.principios {
    padding: 60px 80px;
}

/* Parte do footer*/
.footer {
    background-color: #0a2c66;
    color: white;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}

.imagem-footer,
.info-uteis,
.endereco-contactos,
.redes-container {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.info-uteis ul {
    list-style: none;
    padding: 0;
}

.info-uteis ul li {
    margin-bottom: 8px;
}

.info-uteis ul li a {
    text-decoration: none;
    color: lightgray;
}

.endereco-contactos p {
    margin-bottom: 6px;
    color: lightgray;
}

.redes-sociais a {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 12px;
    background-color: #08224d;
    font-size: 14px;
}


/* Botão de voltar ao topo */
#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/*Botao de entrar em contactos*/
.entre-contacto {
    text-align: center;
    padding: 50px 20px;
}

.entre-contacto h2 {
    color: #0a2c66;
    margin-bottom: 10px;
}

.entre-contacto p {
    margin-bottom: 20px;
    color: #333;
}

.btn-contacto {
    display: inline-block;
    background-color: #ffc107;
    color: #0a2c66;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

.entre-contacto {
    position: relative;
    z-index: 1;
}