.grid-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "header"
    "banner";
    grid-template-rows: auto auto;
}

.header {
    grid-area: header;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    background-color: #0a2c66;
}

.logo img {
    width: 70px;
    height: auto;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #ffc107;
}

.banner {
    grid-area: banner;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55vh;
    padding: 40px 80px;
    color: lightgray;
    background-image:
        linear-gradient(rgba(10,44,102,0.85), rgba(10,44,102,0.85)),
        url("../resources/images/banner-geipe2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-banner {
    max-width: 600px;
}

.main-banner h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.main-banner p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.banner-buttons {
    display: flex;
    gap: 20px;
}

.button-estagio {
    background-color: #ffc107;
    color: #0a2c66;
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5;
}

.button-estagio:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.button-oportunidade {
    background-color: #e6e6e6;
    color: #0a2c66;
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.button-oportunidade:hover {
    background-color: #d4d4d4;
    transform: scale(1.05);
}

body {
    margin: 0;
    padding: 0;
}

.logo {
border-radius: 15px;
}

