.menu ul li a.ativo {
    color: #ffc107;
}

.logo img { 
    width: 50px; 
    height: auto; 
    border-radius: 25%; 
}

.navbar .btn-login {
    background-color: #ffc107;
    color: #0a2c66;
    padding: 3px 10px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.navbar .btn-login:hover {
    color: #0a2c66;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: #0a2c66;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}

.menu ul li a:hover {
    color: #ffc107;
    transform: scale(1.1);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

section {
    padding: 30px 80px;
}

h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.conteudo-noticia {
    background-color: white;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.noticia-container {
    background-color: #f2f2f2;
    max-width: 900px;
    padding: 10px 40px;
    border-radius: 6px;
}

.noticia-container h1 {
    color: #1E1E1E;
    font-size: 32px;
    margin-bottom: 20px;
}

.noticia-container p {
    font-size: 17px;
    line-height: 1.7;
    color: #1E1E1E;
    text-align: justify;
}

.main-banner {
    max-width: 600px;
}

.main-banner h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.main-banner p {
    font-size: 16px;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 1.4;
}

.banner-blog1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-blog1 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-1.jpg");
}

.banner-blog2 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-2.jpg");
}

.banner-blog3 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-3.jpg");
}

.banner-blog4 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-4.jpg");
}

.banner-blog5 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-5.webp");
}

.banner-blog6 {
    background-image: linear-gradient(rgba(0,0,0,0.45), 
    rgba(0,0,0,0.45)), 
    url("../resources/images/Blogs/Noticia-6.jpg");
}