/* Link ativo no menu da pagina onde o utilizador se encontra */
.menu ul li a.ativo {
    color: #ffc107;
}

/* Estilo e formato do logótipo */
.logo img { 
    width: 50px; 
    height: auto; 
    border-radius: 25%; 
}

/* Estilo geral da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: #0a2c66;
}

/* Organização do menu */
.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo dos links do menu */
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}

/* Efeito ao passar o rato nos links do menu */
.menu ul li a:hover {
    color: #ffc107;
    transform: scale(1.1);
}

/* Linha por baixo dos links do menu */
.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

/* Faz a linha aparecer ao passar o rato */
.menu ul li a:hover::after {
    width: 100%;
}

/* Mantém o header fixo no topo da página */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Define espaçamento das secções */
section {
    padding: 30px 80px;
}

/* Estilo dos títulos h2 */
h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

/* Botão para voltar ao topo da página */
#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Estilo do corpo do site */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

/* Container do conteúdo da notícia */
.conteudo-noticia {
    background-color: white;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

/* Caixa onde o artigo da notícia é apresentado */
.noticia-container {
    background-color: #f2f2f2;
    max-width: 900px;
    padding: 10px 40px;
    border-radius: 6px;
}

/* Título principal da notícia */
.noticia-container h1 {
    color: #1E1E1E;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Texto da notícia */
.noticia-container p {
    font-size: 17px;
    line-height: 1.7;
    color: #1E1E1E;
    text-align: justify;
}

/* banner  */
.main-banner {
    max-width: 600px;
}

/* Título do banner das notícias */
.main-banner h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

/* Texto do banner das notícias */
.main-banner p {
    font-size: 16px;
    margin-bottom: 25px;
    text-align: justify;
    line-height: 1.4;
}

/* Estrutura base dos banners de cada um dos blogs */
.banner-blog1,
.banner-blog2,
.banner-blog3,
.banner-blog4,
.banner-blog5,
.banner-blog6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43vh;
    padding: 40px 80px;
    color: lightgray;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Imagem de fundo do blog 1 */
.banner-blog1 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-1.jpg");
}

/* Imagem de fundo do blog 2 */
.banner-blog2 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-2.jpg");
}

/* Imagem de fundo do blog 3 */
.banner-blog3 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-3.jpg");
}

/* Imagem de fundo do blog 4 */
.banner-blog4 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-4.jpg");
}

/* Imagem de fundo do blog 5 */
.banner-blog5 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-5.webp");
}

/* Imagem de fundo do blog 6 */
.banner-blog6 {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("../resources/images/Blogs/Noticia-6.jpg");
}