/*estilo da página do formulario*/
body {
    background-color: #9d9ea0;
    box-shadow: #000000d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

/*estilo do formulario*/
.form {
    background: white;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 10px 25px #00000080;
    width: 400px;
    text-align: center;
}

/*como ira ficar o formulario por dentro*/
.form-lab {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/*estilo do label*/
.form-lab label{
    width: 140px;
    font-weight: bold;
}

/*estilo dos campos*/
.form select, 
.form input{
    flex: 1;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}

/*estilo do botao*/
.form button {
    
    padding: 10px;
    background-color: #0a2c66;
    border: none;
    border-radius: 6px;   
}