body {
    background-color: #9d9ea0;
    box-shadow: #000000d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    background: white;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 10px 25px #00000080;
    width: 400px;
    text-align: center;
}

.form-lab {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-lab label{
    width: 140px;
    font-weight: bold;
}

.form select, 
.form input{
    flex: 2;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
}