.logoGeipe {
    width: 120px;
    height: 120px;
    border-radius: 25%;
}

.menu ul li a.ativo {
    color: #ffc107;
}

.logo img {
    width: 50px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: #0a2c66;
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: row;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    position: relative;
}

.menu ul li a:hover {
    color: #ffc107;
    transform: scale(1.1);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu ul li a:hover::after {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section {
    padding: 20px 80px;
}

h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-area {
    display: flex;
    flex-direction: row;
    padding: 10px 60px;
    margin-bottom: 0;
    margin-top: 5px;
    border-radius: 8px;
    padding-bottom: 2px;
}

.contact-area h2 {
    color: #0a2c66;
    margin-bottom: 10px;
}

.contact-area p {
    margin-bottom: 25px;
    color: rgb(75, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
    color: #0a2c66;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    font-size: 16px;
    resize: vertical;
}

.contact-form button {
    width: 150px;
    padding: 10px;
    background-color: #0a2c66;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #ffc107;
    color: #0a2c66;
}

.contact-image img {
    width: 700px;
    height: auto;
}

