.section {
    padding: 30px 80px;
}

.h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    background-color: #0a2c66;
    color: white;
    padding: 18px 20px;
    border-radius: 8px;
    text-align: left;
}

.card h3 {
    color: #ffc107;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
}