/* Container principal das etapas dos estágios */
.etapas {
    padding: 60px 80px;
}

/* Estilo dos cards */
.card {
    flex: 250px;
    background-color: #0a2c66;
    color: white;
    padding: 30px;
    text-align: left;
    border-radius: 8px;
    transition: 0.3s;
}

/* Título dentro dos cards */
.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffc107;
}

/* Listas dentro dos cards */
.card ul {
    padding-left: 20px;
    margin: 10px 0;
}

/* Itens da lista dentro dos cards */
.card li {
    margin-bottom: 9px;
}

/* Organização dos cards em coluna */
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo do texto dentro dos cards */
.card p {
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Estilo do texto sobre as vagas disponivwis */
.vagas {
    font-size: 14px;
    font-weight: bold;
    color: #ffc107;
    margin-top: 5px;
}