/* Estilo geral do footer do site */
.footer {
    background-color: #0a2c66;
    color: white;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Container do footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}

/* Estilo do logótipo no footer */
.imagem-footer {
    flex: 1;
    min-width: 200px;
}

/* Links uteis */
.info-uteis {
    flex: 1;
    min-width: 200px;
}

/* Efeito hover nos links uteis */
.info-uteis a:hover {
    color: #FFD700;
}

/* Secção de contactos e endereço */
.endereco-contactos {
    flex: 1;
    min-width: 200px;
}

/* Estilo dos links da secção de contactos */
.endereco-contactos a {
    text-decoration: none;
    color: inherit;
}

/* Efeito hover nos links */
.endereco-contactos a:hover {
    text-decoration: none;
    color: #FFD700;
}

/* Secção das redes sociais */
.redes-container {
    flex: 1;
    min-width: 200px;
}

/* Estilo do logótipo no footer */
.imagem-footer img {
    width: 80px;
    margin-bottom: 10px;
    border-radius: 25%;
}

/* Texto debaixo do logótipo */
.imagem-footer p {
    font-size: 18px;
    font-weight: bold;
    color: #ffc107;
    margin-left: -32px;
}

/* Títulos dentro do footer */
.footer h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

/* Remove estilo da lista de links úteis */
.info-uteis ul {
    list-style: none;
    padding: 0;
}

/* Espaçamento entre itens da lista */
.info-uteis ul li {
    margin-bottom: 9px;
}

/* Estilo dos links da lista de informações úteis */
.info-uteis ul li a {
    text-decoration: none;
    color: lightgray;
}

/* Estilo do texto da secção de contactos */
.endereco-contactos p {
    margin-bottom: 4px;
    color: lightgray;
}

/* Estilo dos ícones das redes sociais */
.redes-sociais a {
    display: inline-block;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

/* Parte inferior do footer que contem o cp e as políticas */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 90px;
    font-size: 16px;
}

/* Links da parte inferior do footer */
.footer-bottom a {
    color: inherit;
    text-decoration: none;
}

/* Efeito hover nos links do footer inferior */
.footer-bottom a:hover {
    text-decoration: none;
    color: #FFD700;
}