.titulo {
    font-size: 28px;
    color: #0a2c66;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.descricao {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-left: 325px;
    max-width: 700px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #0a2c66;
    color: white;
    padding: 30px;
    border-radius: 8px;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.card-logo img {
    width: 120px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

.card-conteudo {
    flex: 1;
}

.card-conteudo h3 {
    color: #ffc107;
    margin-bottom: 10px;
}

.card-conteudo p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.botao {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #0a2c66;
    background-color: #ffc107;
    padding: 10px 15px;
    border-radius: 4px;
}

.login-icon {
    margin-left: 20px;
}

.login-icon i {
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.login-icon i:hover {
    color: #ffc107;
}