/* Estilo da página de login */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f0f0f0;
}

/* Caixa principal do formulário de login */
.caixaLogin {
    background: rgba(10, 44, 102, 0.95); 
    padding: 40px; 
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0);
    width: 320px;
    text-align: center;
    color: white;
}

/* Estrutura de cada campo */
.campo {
    margin-bottom: 20px;
    text-align: left; 
}

/* Texto do label dos campos */
.campo label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Campos de entrada  */
.campo input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
    background-color: white;
}

/* Botão de iniciar sessão */
.btn-entrar {
    width: 100%;
    padding: 12px;
    background-color: #ffc107;
    color: #0a2c66;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

/* Efeito ao passar o rato no botão de login */
.btn-entrar:hover {
    background-color: #e5ac00;
    transform: scale(1.02);
}

/* Não tenho conta */
a {
    color: #ffc107;  
    text-decoration: none;
    font-size: 14px;
}

/* Efeito ao passar o rato no "Não tenho conta" */
a:hover {
    text-decoration: underline;
}